button {
    border: 1px solid #0072ED;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    color: #0072ED;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #e1ecf7;
}
  